html {
    scroll-behavior: smooth;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.ui-ux{
    margin-top: 50px;
    font-size:80px;
    border: none;
    margin: 10px;
}

.discription-uiux{
    font-size: 40px;
    border: none;
    margin: 10px;
}

.name-container {
    position: relative;
    display: inline-block;
}

.rotating-square {
    position: absolute;
    width: 550px;
    height: 550px;
    background-color: #FF8C00;
    border-radius: 15px;
    top: 40%;
    right: 200px;
    transform: translateY(-50%);
    z-index: -1;
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.my-name{
    font-size: 400px;
    border: none;
    margin: 10px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.right-container {
    flex: 1;
    font-size: 48px;
    border: 2px solid #333;
    border-radius: 0;
    padding: 20px;
    position: relative;
    right: -1px;
}

