@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Italiana&family=Jersey+25&family=Mingzat&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
    background-image: 
        linear-gradient( #a1a1a1 1px, transparent 1px),
        linear-gradient(90deg, #a1a1a1 1px, transparent 1px);
    /* to increase the size */
        background-size: 2.2rem 2.2rem; 
        background-position: -0.06rem -0.06rem;
    margin: 0;
    padding: 0;
    font-size: 16px; /* Base font size for rem calculations */
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 100%;
    margin: 0 auto;
}

/* Responsive adjustments for better spacing across different screen sizes */
@media (min-width: 1200px) and (max-width: 1600px) {
    body {
        font-size: 14px; /* Slightly smaller base font */
    }
}

@media (min-width: 1601px) and (max-width: 2000px) {
    body {
        font-size: 18px; /* Larger base font for bigger screens */
    }
}

@media (min-width: 2001px) {
    body {
        font-size: 20px; /* Even larger for very large screens */
    }
}

@media (max-width: 1199px) and (min-width: 769px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}